.section{
    position: relative;
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
}
.section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background:var(--dark-blue);
    border-radius: 10% 90% 90% 50%/ 10% 0 60% 60%;
    transform: scaleX(1.5);
}
.section .content{
    width: 80%;
    height: 70vh;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: center;
}
.section .content h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3em;
}

.section .content p{
    color: #fff;
}

.blur{
    width: 35rem;
    height: 35rem;
    background: linear-gradient(15deg, rgba(229, 245, 7, 0.932),transparent);
    border-radius: 50%;
    position: absolute;
    display: flex;
    flex: 3;
    float: left;
    margin-left: 78%;
    margin-top: 2rem;
    max-width: 50%;
}

.img{
    position: absolute;
    margin-top: 1rem;
}

.leftc{
    margin-top: 5rem;
    margin-left: 11rem;
    float: left;
    max-width: 70%;
}

.leftc h1{
    text-align: left;
    font-size: 12rem;
    color: var(--second-color);
    font-family: sans-serif;
}

.leftc span{
    color: var(--color-orange);
}

.leftc p:nth-of-type(1){
    font-size: 2rem;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 1px;
    width: 90%;
    padding: 1rem;
    text-align: left;
}


.leftc p:nth-of-type(2){
    margin: 1rem 0 3.5rem;
    font-size: 1.9rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    padding: 1rem;
}

